*~
*.a
*.o
*.gcda
*.gcno
*.plist
*.service
*.tar.gz

.cproject
.deps
.project
.pydevproject
.tx

ABOUT-NLS
aclocal.m4
autom4te.cache
clang_*
compile
config.guess
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
Makefile.in
Makefile.in.in
POTFILES
stamp-h1
stamp-it
temp.txt

/gtk-doc.make
/realmd-*.*

/build/config.sub
/build/config.rpath
/build/coverage.info
/build/coverage
/build/test-driver

/dbus/realm-dbus-generated.c
/dbus/realm-dbus-generated.h
/dbus/realm-dbus-systemd.c
/dbus/realm-dbus-systemd.h
/dbus/realm-dbus-generated-*.xml

/doc/privatedir.xml
/doc/version.xml
/doc/internals/html/
/doc/manual/*.stamp
/doc/manual/xml/
/doc/manual/html/
/doc/manual/*.txt
/doc/manual/*.args
/doc/manual/*.hierarchy
/doc/manual/*.interfaces
/doc/manual/*.prerequisites
/doc/manual/*.signals
/doc/manual/*.types
/doc/manual/tmpl/
/doc/manual/realmd-org.freedesktop.*.xml
/doc/manual/*.8
/doc/manual/*.5
/doc/website/html

/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/realmd.pot
/po/remove-potcdate.sin
/po/*.gmo

/service/identity-config-service
/service/org.freedesktop.realmd.policy
/service/realmd

/tests/frob-install-packages
/tests/frob-package-set
/tests/test-dn-util
/tests/test-ini-config
/tests/test-samba-config
/tests/test-login-name
/tests/test-safe-format
/tests/test-sssd-config
/tests/test-settings

/tools/realm
/tools/realm-enroll
/tools/realm-discover
